{{ define "head" }}
    <meta charset="UTF-8">
    <title>functions</title>
{{ end }}


{{define "header"}}
    <nav>
        <button>Inbox</button>
        <button>Sent</button>
        <button>Trash</button>
        <button>Settings</button>
    </nav>

{{end}}