<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <html lang="en">
    <title>MySQL</title>
</head>


<body>
<header>
<a href="/read">Read All</a><br>
</header>
<h3>Form inserts data to MySQL container.</h3>

<form action="/insert" method="POST">
        <input type="text" name="key" placeholder="Key" autofocus autocomplete="off">
        <input type="text" name="value" placeholder="Value" autofocus autocomplete="off">
        <input type="submit" name="submit-btn" value="Submit">
</form>

</body>
</html>