<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>GoWeb</title>
</head>

<body>
    <br />{{if .Email}}
    <br />
    <h2>Welcome, {{.Fname}} {{.Lname}} </h2>
    <br />
    <h3>
        <i>
            <a href="/logout">Logout</a>
        </i>
    </h3>
    {{end}}

    <ul>
        <li>
            <h3>
                <i>
                    <a href="/login">Login</a>
                </i>
            </h3>
        </li>
        <li>
            <h3>
                <i>
                    <a href="/signup">Signup</a>
                </i>
            </h3>
        </li>
        <li>
            <h3>
                <i>
                    <a href="/verify">Verify</a>
                </i>
            </h3>
        </li>
    </ul>

</body>

</html>