<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <title>SignUp</title>
</head>

<body>
    <h3>Information</h3>
    <br />

    <form method="POST">
        <input type="email" name="email" placeholder="Email">
        <br />
        <input type="text" name="firstname" placeholder="First Name">
        <br />
        <input type="text" name="lastname" placeholder="Last Name">
        <br />
        <label for="select_role">Role</label>
        <select name="role" id="select_role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <br />
        <input type="password" name="password" placeholder="Password">
        <br />
        <input type="submit">
        <br />
    </form>
</body>

</html>