<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- Billy Downing -->
    <link href="static/main.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="commandform">
        <header id="commandheader">Form</header>
        <br>
        <form action="/restconf" method="POST">
            <p>
                <input type="text" name="dns" placeholder="ios-xe-mgmt.cisco.com" required>
                <br>
                <input type="submit" name="cmd">
            </p>
        </form>
    </div>
</body>

</html>